* {
  font-family: "quicksand", sans-serif;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

/* Footer */
.w3l-footer-29-main {
  background: black;
}
.w3l-footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}
.w3l-footer-29-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.main-social-footer-29 a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}
.main-social-footer-29 a:hover {
  background: #ff6600;
  transition: 0.3s;
  color: #fff;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
